{% extends 'dash/base.html' %}

{% block content %}

{% load mathfilters %}
<div class="row">
    <div class="col-md-3">
        <form method="POST" action="{% url 'event-delete' %}" onsubmit="return confirm('Are you sure you want to delete previous events?')" >
            {% csrf_token %}
                {% if user_logged.is_superuser %}
                    <input type="submit" class="btn btn-danger btn-md mt-1 mb-1" value="Delete"/>
                {% endif %}
        </form>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-6">
     {% for item, answered in query_results %}
        <div class="card">
            <div class="card-header container-fluid is-pulled-right">
            <div class="row">
                <div class="col md-6">
                    <span style="font-size: 2em; color: Dodgerblue;">
                        <i class="fas fa-calendar"></i>
                    </span>
                    {{ item.event_date }}
                    <div class="float-sm-right">
                    <span style="font-size: 2em; color: Tomato;">
                        <i class="fab fa-periscope"></i>
                    </span>
                    {{item.venue}}<br><br>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col md-6 ">
                        <div class="float-sm-right">
                        <small class="text-muted">
                        <span style="font-size: 2em; color: darkslategray;">
                            <i class="fas fa-user"></i>
                        </span>
                            <b>Organizer : <a href="{% if user_logged %}{% url 'user_profile' item.user_id %}{% else %} # {% endif %}">{{ item.organizer_name }}</a></b>
                        </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col sm-8">
                        <b>Event</b> : {{ item.event_subject }} <br> <br>
                    </div>
                    {% if user_logged %}
                    {% if item.user_id == user_logged.id %}
                    <div class="float-sm-right">
                            <a class="btn btn-outline-info btn-sm mt-1 mb-1" href="{% url 'event-update' item.id %}">Update</a>
                    </div>
                    <div class="float-sm-right">
                        {% if item.user_id == user_logged.id %}
                            <form action="{% url 'delete-event' %}" onsubmit="return confirm('Are you sure you want to delete this event?')" method="post" >
                                {% csrf_token %}
                            <input type="hidden" name="event_id" value="{{ item.id }}">
                            <input type="submit" class="btn btn-danger btn-sm mt-1 mb-1" value="Delete" />
                            </form>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endif %}
            </div>
            <b><i>RSVP</i></b> : {{ item.email }} <br> <br>
            {{ item.text }}<br> <br>
            {% if user_logged.is_authenticated %}
                {% if not answered %}
                    <div id="poll">
                        Are you attending?<br><br>
                        <form action="#" method="post">
                            {% csrf_token %}

                            <input type="hidden" name="event_id" id="event_id" value="{{ item.id }}" />
                                Yes:
                            <input type="radio" name="result" id="yes" value="1" onclick="this.form.submit();">
                            <br>
                            No:
                            <input type="radio" name="result" id="no" value="0" onclick="this.form.submit();">
                        </form>
                        <br> <br> <br>
                    </div>
                {% elif answered %}
                    {% for result in poll_results %}
                        {% if result.event_id_id == item.id %}
                            {% with answer=result.yes_count|add:result.no_count %}
                                Attending?<br><br>
                                <p class="progress-label">
                                    Yes:
                                </p>
                                <div class="progress" style="width:50%; height:25px; border-radius: 25px; text-align:center  ">
                                    <span class="progress-value" style="width:70%; position:absolute; right:0; left:0;">{{ result.yes_count|div:answer|mul:"100"|floatformat }}%</span>
                                    <div class="progress-bar" role="progressbar"
                                            aria-valuemin="0" aria-valuemax="100" style="border-radius: 25px; width:{{ result.yes_count|div:answer|mul:100|floatformat }}%">

                                    </div>
                                </div><br>
                                <p class="progress-label">
                                    No:
                                </p>
                                <div class="progress" style="width:50%; height:25px; border-radius: 25px; text-align:center; ">
                                    <div class="progress-value" style="width:70%; position:absolute; right:0; left:0;">{{ result.no_count|div:answer|mul:"100"|floatformat }}%</div>
                                    <div class="progress-bar" role="progressbar"
                                         aria-valuemin="0" aria-valuemax="100" style="border-radius: 25px; width:{{ result.no_count|div:answer|mul:100|floatformat }}%" >
                                    </div>

                                </div><br><br>
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
    </div></div>
{% endfor %}
</div>
</div>

{% endblock %}
